@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Heading-Font";
  src: url("/font/circula-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Para-Font";
  src: url("/font/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  background-color: #f7f4ec;
}
.enquiry-form{
 font-family: "Heading-Font", sans-serif;
}
h1,h2,h3 {
  font-family: "Heading-Font", sans-serif;
  color:#d06d52;
}
p, ul, small, button {
  font-family: "Para-Font", sans-serif;
  color: #513335;
}
h1{
    font-size: 60px;
    line-height: 1;
}
h2{
    font-size: 55px;
    line-height: 1;
}
h3{
    font-size: 40px;
    line-height: 1;
}
p{
    font-size: 18px;
}
small{
    font-size: 16px;
}
.footer{
  background: url(/images/footer-bg.png);
  background-size: cover;
  background-position: center;
}