.home-banner {
  margin-top: 125px;
  @media(max-width: 767px){
    margin-top: 50px;
  }
  // background-image: url(../../../public/assets/banner1-new.jpg);
  // background-image: url(../../../public/assets/Artboard-mobile.png);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // padding: 0 0 1% 0;
  // width: 100%;
  // height: 100vh;
  // background: url(../../../public/assets/banner-bb-upscale.jpg)
  //     no-repeat bottom / cover;
  //   padding: 0 0 35% 0;
  //   position: relative;
  // .banner-heading{
  //   // padding-top: 300px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 100vh;
  //   // padding-top: 280px;
  //   h1{
  //     text-align: center;
  //   color: #fff;
  //   font-size: 80px;
  //   font-family: "Oswald", sans-serif;
  //   font-weight: 700;
  //   @media(max-width:767px){
  //     font-size: 60px;
  //   }
  //   }
  // }
  .nhome-sec1new {
    background: url(../../../public/images/banner1.webp)
      no-repeat bottom / cover;
    padding: 0 0 35% 0;
    position: relative;

    .btn {
      position: absolute;
      left: 8%;
      top: 80%;
      width: 12%;
      height: 11%;
      font-size: 0;

      // background-color: #08089B;
      @media (max-width: 767px) {
        left: 6%;
        top: 85%;
        width: 90%;
        height: 10%;
      }
    }

    @media (max-width: 767px) {
      // background: url(../../../public/images/Banner1-Mobile.webp) no-repeat center / cover;
      padding: 0 0 140.5% 0;
      // text-align: left;
    }
  }

  .nhome-sec2new {
    background: url(../../../public/images/banner3.webp)
      no-repeat bottom / cover;
    padding: 0 0 35% 0;
    position: relative;

    .btn {
      position: absolute;
      left: 8%;
      top: 80%;
      width: 12%;
      height: 11%;
      font-size: 0;

      // background-color: #08089B;
      @media (max-width: 767px) {
        left: 6%;
        top: 85%;
        width: 90%;
        height: 10%;
      }
    }

    @media (max-width: 767px) {
      // background: url(../../../public/images/Banner2-Mobile.webp) no-repeat center / cover;
      padding: 0 0 140.5% 0;
      // text-align: left;
    }
  }

  // .nhome-sec3new {
  //   background: url(../../../public/assets/LG-4.jpg) no-repeat bottom / cover;
  //   padding: 0 0 35% 0;
  //   position: relative;

  //   .btn {
  //     position: absolute;
  //     left: 8%;
  //     top: 80%;
  //     width: 12%;
  //     height: 11%;
  //     font-size: 0;

  //     // background-color: #08089B;
  //     @media (max-width: 767px) {
  //       left: 6%;
  //       top: 85%;
  //       width: 90%;
  //       height: 10%;
  //     }
  //   }

  //   @media (max-width: 767px) {
  //     // background: url(../../../public/images/Banner3-Mobile.webp) no-repeat center / cover;
  //     padding: 0 0 140.5% 0;
  //     // text-align: left;
  //   }
  // }
}

.about {
  .about-content{
    text-align: center;
    font-size: 17px;
  }
  .about-img {
    object-fit: cover;
    width: 100%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.university{
  background-color: #283897;
  .main-flex-box{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    @media(max-width:767px){
      display: block;
    }
    .uni-box{
      width: 165px;
      height: 130px;
  box-shadow: -3px 3px 0px 0px #e34c24;
  @media(max-width:767px){
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
      margin-right: auto;
  }
  p{
    color: #e34c24;
    font-weight: 600;
    font-size: 12px;
    text-align: center !important;
  }
    .uni-img{
      width: 100px;
    }
  }
  }
}

.courses{
  .course-title{
    color: #283897;
  }
  .course-icon{
    color: #e34c24;
  }
}

.testimonial {
  .testi-box{
    width: 400px !important;
    @media(max-width: 767px){
      width: 100% !important;
    }
    text-align: justify;
    .testi-icon{
      font-size: 25px;
      color: #283897;
    }
  }
}

.blog{
  .blog-title{
    color: #283897;
  }
}
